<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<title>Souvenir: to remember</title>

  <link rel="stylesheet" type="text/css" href="http://www.w3schools.com/lib/w3.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$("form").submit(function(){
				document.getElementById("listWrapper").innerHTML = '<img src=/images/icon.png />'; 
			});
		});
	</script>
</head>
<body class='w3-black'>
  
  <!-- navbar on medium and large screens -->
  <nav class='w3-sidenav w3-center w3-small w3-hide-small'>
    <img id='icon' src='/images/icon.png'>
  </nav>

  <header class='w3-container w3-padding-32 w3-center w3-black' id='home'>
	  <div id="main" class='w3-padding-large'>
	  	<h1><span>SOUVENIR</span></h1>
	  	<p id="welcomeMssg">Welcome to Souvenir! <br>
	  	Begin by entering in any list of items, separated by new lines. 
	  	<br>Press 'Submit' to take the items to your Memory Palace.</p>
	  	<form action = '/list_submit' method = 'POST'>
	  		<textarea id="listInput" name="list"></textarea>
	  		<input id="submit" type="submit" value="Submit">
	  	</form> 
	  </div>
  </header>
</body>
</html>
