<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<title>Souvenir: to remember</title>

	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<div id="main">
		<h1><span>SOUVENIR: 
		<br>suite</span></h1>
		<p id="welcomeMssg">Welcome to Souvenir! <br>
		Click one of the links below to begin</p>
		
		<a href="/list_input">Virtual Memory Palace</a>

		<a href="/random_streetview">Random Streetview</a>
	</div>
</body>
</html>