
<!DOCTYPE html>

<html>
<head>
    <title>Your Palace</title>

    <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>

    <script type="text/javascript">
    	// get data from post response 

    	// FIX FUCKING DIV LOADING 
    	// page needs to load first...? 
    	// change when the file is sent 
    	// the way i loaded the vars below ..?

    	console.log('<%- JSON.stringify(palaceData) %>')
    	var pData = JSON.parse('<%- JSON.stringify(palaceData) %>'); 
    	console.log(JSON.stringify(pData)); 

        // load divs 
        
    </script>




    
    
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDhLXFSbW3E-DSJc0H3tXiyHJ7Q8iYK-5o
    &sensor=false&libraries=geometry"></script>


    <script type="text/javascript" src="/scripts/overlay.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            var panFrame = document.getElementById("panFrame"); 

            for (var i = 0; i < pData.size; i++){
                console.log('adding div ' + i); 
                var newDiv = document.createElement('div'); 
                newDiv.id = "markerDiv" + i; 
                newDiv.style = "position:relative;top:0px;left:0px;" + 
                "z-index:1000;display:none;cursor:pointer"; 
                newDiv.innerHTML = "TEST"; 

                panFrame.appendChild(newDiv); 
            }

            loadPage(); 
        });
        
    </script></head>
<body>


    <center>
    <div style="width:960px; text-align:left">
        <table><tr><td>
        
            <div style="display: none" id="mapDiv" style="width:480px; height:480px"></div>

        </td><td>
            <div id="panFrame" style="position:relative; width:480px; height:480px; overflow:hidden">
            <div id="panDiv" style="position:absolute;top:0px;left:0px; width:480px; height:480px"></div>
            

            <!--<div id="markerDiv0" style="position:relative;top:0px;left:0px;z-index:1000;display:none;cursor:pointer" onclick="markerClick()"></div>
            <div id="markerDiv1" style="position:relative;top:0px;left:0px;z-index:1000;display:none;cursor:pointer"></div>-->
            

            </div>
            <div id="markerClick"></div>

        </td></tr></table>

        <p>Streetview overlay created by <a href="http://teammaps.com">Team Maps</a></p>
    </div>
    </center>


</body>
</html>
