
<!DOCTYPE html>

<html>
<head>
    <title>Your Palace</title>

    <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>

    <script type="text/javascript">
    	var pData = JSON.parse('<%- JSON.stringify(palaceData) %>');   
    </script>


    <script type="text/javascript" src="/scripts/overlay.js"></script>


    
    <script type="text/javascript">
        $(document).ready(function() {
            var panFrame = document.getElementById("panFrame"); 

            for (var i = 0; i < pData.size; i++){
                console.log('adding div ' + i); 
                var newDiv = document.createElement('div'); 
                newDiv.id = "markerDiv" + i; 
                newDiv.style = "position:relative;top:0px;left:0px;" + 
                "z-index:1000;display:none;cursor:pointer";  

                panFrame.appendChild(newDiv); 
            }

            $.getScript("http://maps.google.com/maps/api/js?key="+
                pData.key + 
                "&sensor=false&libraries=geometry",
                function(){
                    loadPage(pData.size); 
            }); 
        });
        
    </script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/palace.css">


    </head>
<body class="w3-black">


    <!-- FIX THIS AHH --> 


    <div id="panFrame"> 

            <div id="panDiv"></div> 

            <!-- MARKER DIVS GO HERE --> 

    </div>


</body>
</html>
