
<!DOCTYPE html>

<html>
<head>
    <title>Your Palace</title>

    <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>

    <script type="text/javascript">
    	var pData = JSON.parse('<%- JSON.stringify(palaceData) %>');   
    </script>


    <script type="text/javascript" src="/scripts/overlay.js"></script>


    
    <script type="text/javascript" src="/scripts/readyPage.js">
    </script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/palace.css">


    </head>
<body class="w3-black"> 
    <div id="panFrame"> 

            <div id="panDiv"></div> 

            <!-- MARKER DIVS GO HERE --> 

    </div>
</body>
</html>
