#panFrame{
	position: relative;
	height: 500px;
	width: 500px; 
	overflow: hidden;
}

/* the size has to be the same for the overflow */ 

#panDiv{
	position: absolute; 
	top: 0px;
	left: 0px;
	width: 500px; 
	height: 500px;
}
