#panFrame{
	position: relative;
	height: 600px;
	width: 600px; 
	overflow: hidden;
}

/* the size has to be the same for the overflow */ 

#panDiv{
	position: absolute; 
	top: 0px;
	left: 0px;
	width: 600px; 
	height: 600px;
}