div#main {
	position: relative;
	top: 30px;
	text-align: center; 
}

a {
	display: block;
	margin: 10px; 
}

textarea, input {
	display: block;
	margin-left: auto; 
	margin-right: auto; 
}

input {
	margin-top: 3px;
}

textarea {
	width: 300px; 
	height: 66px; 
}


/* palace styling */ 

/* wrapper for map and markerDivs */ 
#panFrame {
	position: relative; 
	width: 500px;  
	height: 500px; 
	overflow: hidden; 
}

/* the panorama itself */ 
#panDiv {
	position: absolute; 
	top: 0px; 
	left: 0px; 
	width: 500px; 
	height: 500px; 
}

/* link to team maps */ 
#linkWrap {
	position: relative; 
	clear: both; 
}

